<!DOCTYPE html>
<html lang="en">
 
    <%- include('../layout/head')%>
  
  <body>
   
        <%- include('../layout/header')%>
       
    
    <section>
      <article>
        <p><%= error%></p>
      </article>
    </section> 
    <%- include('../layout/footer')%>
  </body>
</html>